<section class="speedometerContainer">
    <section class="speedometer">
        <h1>{{speedElement}}</h1>
        <h2>{{unitSpeed}}</h2>
    </section>
    <section class="info">
        <section class="maxSpeed">
            <p>Velocidade Max</p>
            <section class="maxSpeedValues">
                <h2>{{maxSpeed}}</h2>
                <h4>{{unitSpeed}}</h4>
            </section>
        </section>
        <section class="latitude">
            <p>Latitude</p>
            <h4>{{latitudeValue}}</h4>
        </section>
        <section class="longitude">
            <p>Longitude</p>
            <h4>{{longitudeValue}}</h4>
        </section>        
    </section>
    <section class="statusBtn">
        @if(changeButton == true){
            <button class="startBtn" (click)="startSpeedometer()">INICIAR</button>
        }
        @else{
            <button class="stopBtn" (click)="stopSpeedometer()">PARAR</button>
        }
    </section>
</section>