$infoTitleFontSize: 3rem;
$infoValueFontSize: 0.85rem;
$LatLongValueFontSize: 0.9rem;

.speedometerContainer{
    max-width: 700px;
    margin: auto;
    margin-top: 5rem;
    .speedometer{
        display: flex;
        align-items: center;
        justify-content: center;
        h1{
            font-size: 5rem;
        }
        h2{
            font-size: 2rem;
        }
    }
    .info{
        display: flex;
        justify-content: space-around;
        text-align: center;
        margin: 1rem;
        .maxSpeed, .latitude, .longitude{
            width: 200px;
            height: 70px;
            padding: 0.5rem;
            background-color: #0000003f;
            border-radius: 10px;
        }
        .maxSpeed{
            .maxSpeedValues{
                display: flex;
                justify-content: center;
                align-items: center;
                h2{
                    font-size: $infoTitleFontSize;
                    margin: 0;
                }
                h4{
                    font-size: $infoValueFontSize;
                }
            }
            p{
                color: grey;
                margin: 0;
            }
        }
        .latitude{
            p{
                color: grey;
                margin: 0;
            }
        }
        .longitude{
            p{
                color: grey;
                margin: 0;
            }
        }
    }
    .statusBtn{
        .stopBtn{
            background-color: #000;
            color: #fff;
        }
        button{
            padding: 1rem;
            border: none;
            width: 100%;
            border-radius: 50px;
            cursor: pointer;
            font-size: 1rem;
            font-weight: 800;
        }

    }
}
@media (max-width:700px) {
    .speedometerContainer{
        .info{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .maxSpeed, .latitude, .longitude{
                margin: 1rem;
            }
        }
    }
}